.oneMore {
  width: 200px;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border: 1px solid black; */
  border-radius: 10px;
  -webkit-box-shadow: 2px 2px 6px 0px #000000; 
  box-shadow: 2px 2px 6px 0px #000000;
  background-color: white;
  cursor: pointer;
}

